
body{
        background-image: url(assgimg/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	position: relative;

}
.navigationbar2{
	display: none;
	background-color: white;
	width: 100%;
} 
.navigationbar2 img{
	width: 200px;
}

.navigationbar{
	display: grid;
	grid-template-rows: 20% 60% 20%;
	grid-gap: 10px;
	width: 110px;
	background-color:#04093b;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;


}
		
.nav-items{
	padding-top: 5px;
	margin-left: 0px;
	list-style-type: none;
	display: block;
	position: relative;
		}
.nav-items span{
         position: absolute;
        opacity: 0;
        transition:all;
        right: 0%;
        transition-duration: 0.5s;
}
.nav-items:hover i{
	visibility: hidden;
}
.nav-items:hover span{
	opacity: 1;
	right:70%;
	font-size: 15px;
	color: white;
	margin-top: 10px;
}
.video{
        margin: 20px;
	margin-left: 30px;
}
.video button{
	font-size:24px; 
	background-color: blue;
	border-radius: 50%;
	height: 60px;
	width: 60px;
}
/*front pagwe css		*/
.front{
        position: relative;
        z-index: 1;
        width: 100%;

}
.front-text{
        position: absolute;
        top: 200px;
        left: 180px;
}
.front-text h1{
        color: white;
        font-size: 70px;
        font-family: sans-serif;
        font-weight: bold;
 }
.front-text h2{
        color: white;
        font-size: 30px;
	line-height: 90px;font-family: sans-serif;
   font-weight: bold;
 }
.front-text button{
        color:white;
        background-color:#04093b ;
        height: 60px;
        width: 180px;
        border: none;
        border-radius: 30px 30px 30px 30px;
        transition: ease-out 0.5s;
}

.front-text button:hover{
        background-color: pink;
}
        
.selfimage{
        margin-right: 0px;

        background-image: url(assgimg/img2.png);
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        right:80px;
        top: 100px;
        padding: 30px;
        	
}
.selfimage img{
        padding-right: 40px;
        margin-top: 30px;
        }
.aboutpage{
        position: relative;
        top:654px;
        left: 30px;
        max-width: 80%;
        background-color: rgba(0, 0, 0, 0.52);
}
.aboutpage-heaing{
        text-align: center;
        padding:10px;


}
.stylingimg1{
        width: 190px;
        position: absolute;
        right: 5px;
        bottom: -60px;
}
.aboutpage-heading h3{
        color: white;
	font-size: 30px;
 	line-height: 30px;
	padding-top: 80px;


 }
.aboutpage-heading h1{
        color: white;
        font-size: 40px;
        font-weight: bold;
        padding-top: 20px;
}
.web-desing{
        padding: 50px;
        	
        color: white;
}
.web-desing h4{
        line-height: 30px;
        padding-top: 50px;
}
.web-desing p{
        justify-content: center;
 }
.recent-work{
        position: relative;
        top:850px;
        color: white;
        max-width: 80%;

}
.recent-work1{
        margin: 20px;
}
.recent-work1 h5{
        font-size: 18px;
}
.recent-work1 h2{
        font-size: 35px;
        font-weight: bold;
}
.Complete-project{
        text-align: right;
        margin-top: 20px;

}
.rating{
        text-align: right;
        margin-top: 20px;
}
.Complete-project .rating h1{
        font-weight: bolder;
        	

}
.img7{
        width: 70px;
        height: 50px;
        position: absolute;
        top: -20px;
        left: -24px;
}
.brand-page{
	position: relative;
	top: 830px;
	left: 100px;
}
.brandpage div{
        width: 380px;
/*        	height: 278px;*/
        margin-right: 20px;
/*        	background-color: black;*/
/*        	overflow: hidden;*/
        position: relative;
        z-index: 5;
}
.brand img{
        width: 380px;
}
.brand-tittle{
        position: absolute;
        z-index: 8;
        top: -80px;
        left: 0px;
        width: 380px;
        height: 80px;
        padding: 5px;
        background-color:#04093b;
        transition: all 0.35s ease-in-out;
        opacity: 0;
        visibility: hidden;
        display: block;
        	
}
.brand:hover .brand-tittle{
        visibility: visible;
        opacity: 1;
}
.brand-tittle h5{
        color: gray;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 30px;
}
.brand-tittle h3{
        color:rgba(125, 120, 120, 0.5);
        font-size: 25px;
        margin-left: 30px;
}
.thumb{
        position: relative;
        top: 850px;
}
.thumb1{
        position: relative;
        z-index: 7;
        top: 120px;
        left: 90px;
        width: 300px;
}
.thumb2{
        position: absolute;
        z-index: 8;
        top: 5px;
        left: 110px;

}
.thumb3{
        position: relative;
        top: 850px;
        right: -20px;
        color: white;
        margin-right: 0px;
        margin-left: 70px;
        justify-content: right;
        margin-top: 50px;
        	
}
.thumb3 h5{
        font-size: 25px;
        margin-left: 27px;
        background: linear-gradient(to right, rgba(13, 27, 148, 0.94),rgba(118, 37, 130, 0.94),rgba(222, 37, 28, 0.94));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;"
}
.thumb3 h3{
        font-size: 35px;
        font-weight: bold;
        margin-left: 27px;
}
.thumb3 p{
        line-height: 23px;
        color: gray;
        margin-left: 27px;
}
.skil-list ul li{
        list-style-type: none;
        display: flex;
        padding: 2px;

}
.WordPress i{
        margin-top: 5px;
}
.WordPress1 h3{
       	padding-left: 10px;
       	padding-top: 0px;
       	font-size: 25px;
       }
.WordPress1 span{
       	font-size: 18px;
       	padding-top: 0px;
       	padding-left: 20px;
       	color: gray;
       	margin-top: 0px;
       	text-align: center;
       }
.layer i{
       	margin-top: 10px;
       }
.layer1 h3{
       	padding-left: 10px;
       	padding-top: 0px;
       	font-size: 25px;
       }
.layer1 span{
       	font-size: 18px;
       	padding-top: 0px;
       	padding-left: 20px;
       	color: gray;
       	margin-top: 0px;
       	text-align: center;
       }
.experience-content{
       	position: relative;
       	top: 1000px;
       	left: 150px;
       	margin: 20px;

       }
.experience-content-box{
       	position: absolute;
       	z-index: 8;
       	left: 150px;
       	width: 70%;
       	height: 90px;
       	
       	display: flex;
       	justify-content: center;
       	text-align: center;
       	border-radius: 50px;
       	background: #012b45;
    border: 1px solid rgba(255, 255, 255, 0.2);
       }
.content-box-b{
       	width: 300px;
       	height: 70px;
       	border: none;
       	border-radius: 50px;
       	margin-top: 10px;
       	margin-rightt:50px;
       	 background-color: transparent;
        color: white;
        
       }
.content-box-b:hover{
       	background-color: #ff014f;

       }
.resume-tab-box{
	position: relative;
       	z-index: 7;
       	left: 70px; 
       	top: 50px;
        background-color:transparent;
        border: 1px solid white;
/*        height: 500px;*/
        background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px;

       }
.biography{
       	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	overflow: hidden;
	padding: 50px;
	
	margin-bottom: 10px;
	padding-top: 40px;
       }
.biography-list{
       	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 10px 0;
	z-index: 1;
	color: white;
        border-bottom: 2px soild white;
       }
.biography-list h3{
       	font-size: 18px;
       	margin: 0px;
       }
.biography-list p{
       	font-size: 10px;
       }
/*   price bar    */
.price-bar{
        position: relative;
        top: 1090px;
        left: 70px;
        
        width: 80%;
}
.best-price{
        color: white;
        
}
.best-price h3{
        font-size: 19px;
}
.best-price h1{
        font-weight: bolder;
}
.price-discount{
        position: relative;
/*        z-index: 19;*/
        top: 40px;
        color: white;
        background-color: #04093b;
        margin-top: 50px;
        padding: 20px;
        width: 80%;
        border-radius: 20px;
}
.price-discount h1{
        padding: 20px;
font-size: 35px;

}
.img3 img{
        width: 280px;
        position: absolute;
        z-index: 20;
        top: 150px;
        left: -120px;
        animation: img3 infinite 3s ;
}
@keyframes img3{
        0%{
                top: 130px;
        }
        100%{
                top: 150px;
        }

}

.Word-Press{
        color: white;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 30px;
        display: flex;

}
.WordPress-list h5{

        padding: 10px;
        font-size:20px;
        color:  ;

}
.WordPress-items{
        list-style-type: none;
        padding: 1px;
        
}
.WordPress-items i{
        padding: 5px;
        margin-left:-20px;
}
.WordPress-list button{
        color:white;
        background-color:#ff014f;
        height: 60px;
        width: 180px;
        border: none;
        border-radius: 30px 30px 30px 30px;
        transition: ease-out 0.5s;
}
.WordPress-list button:hover{
      background-color:#00c0ff;  
}
.price{
 position: relative;
 right: -150px;
}
.price h5{
        font-size: 45px;
        margin-right: -10px;
}
.price span{
        font-size: 25px;
        position: absolute;
        top: -20px;
        left: -30px;
        margin: 20px;
}
.price i{
        position: absolute;
        bottom: 0px;
}
.frontend-design{
        margin-top: 20px;
        background: #012b45;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 30px;
        display: flex;
}
/*company bar */
.company-bar{
        width: 100%;
        border-color: white;
        border-bottom: 2px ;
}
.companybar{
        padding: 50px;
        margin-right: 30px;

}
/*feed back page*/
.feed-hadding{
        color: white;
        display: block;
        text-align: center;
        
}
.marketing{
        position: relative;
        left: 13%;
        height: 800px;
        width: 80%;



}
.bg-div{
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        
        height: 285px;
        width: 285px;
        background-color:#ff014f ;
        border-radius: 50%;

}
.manager{
        height: 400px;
/*        background-color: rgba(125, 125,125 , 0.4);*/
        width: 299px;
        position: absolute;
        left: 33%;
        top: -90px;
        overflow: hidden;
        border-radius: 150px 150px 650px 650px;

}
.manager img{
        position: absolute;
        left: 7%;
        top: 90px;
        width: 235px;
        

}
.shape img{
        width: 150px;
        position: absolute;
        left: 30%;
        top: 300px;
}
.marketing-para{
    color: white;
    position: absolute;
    top: 40%;left: 17%;
    text-align: center;
        width: 60%;
       
        line-height: 30px;
        word-spacing: 10px;
        font-size: 20px;

}
.marketing h5{
    color: white;
    position: absolute;
    top: 54%;
    left: 8%;
    text-align: center;
    width: 80%;
    font-size: 25px;
}
.marketing h6{
    color:#ff014f ;
    position: absolute;
    top: 58%;
    left: 8%;
    text-align: center;
    width: 70%;
    font-size: 15px;
}
.hire-me{
        color: white;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 30px;
        display: flex;
        position: relative;
        width: 80%;
        height: 400px;


}
.hire-box{
        margin: 50px;
        margin-left: 50%;
        padding: 20px;

}
.hire-box h1{
        font-size: 50px;
}
.hire-box button{
        color:white;
        background-color:#ff014f;
        height: 60px;
        width: 180px;
        border: none;
        border-radius: 30px 30px 30px 30px;
        transition: ease-out 0.5s;
        padding: 20px;
        margin: 20px;


}
.hire-box button:hover{
      background-color:#00c0ff;  
}
.hire-arrow{
        width: 200px;
        position: absolute;
        right: -70px;
        top: -55px;
}
.hire-man{
        width: 300px;
        position: absolute;
        left: -70px;
        bottom: -80px;
}
/*effects of img*/
.effects{
        margin-top: 80px;
        width: 100%;
}
.effects-1{
        width: 350px;
        overflow:hidden ;
box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        padding: 20px;
        }
.effects-1 img{
        object-fit: cover;
        animation: slide all ;
}


/*media query*/
@media only screen and (max-width:820px){
        body{
/*                overflow: hidden;*/

        }
        .navigationbar{
                display: none;
        }
        .navigationbar2{
                display: flex;
                justify-content: center;
                width: 100%;
        }
        .front{
                display: block;
                width: 100%;
        }
        .front-text{
                position: absolute;
                top: 20px;
              
                display:inline;
                text-align: center;
        }
        .front-text h1{
                font-size: 40px;
        }
        .selfimage{
                position: absolute;
                top: 250px;
                right: 250px;
                display:flex;
                justify-content: center;
                background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        }
        .selfimage img{
                width: 300px;

        }
        .aboutpage{
                width: 100%;
                position: relative;
                top: 700px;
        }
        .aboutpage-heading{
                text-align: center;
        }
        .web-desing{
                display: block;
                width: 100%
        }
        .thumb3{
                text-align: center;
                width: 100%;
                position: relative;
                top: 900px;
                left: -10px;
        }


}